.main-container{
    background-image: url('../../../assets/asfalt/asfalt.png');
    padding: 40px;
    flex:1;

    .main-title{
        margin-top: 0;
        font-size: 60px;
        font-weight: bold;
        text-align: center;   
    }
}